<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <!-- <script type="text/javascript" src="../loading_chars.js"></script> -->
    
    
    <title>Favorite characters</title>
</head>
<body>
    <h1>Moad's Favorite Characters</h1>

    <div id="Oyaji" class="container">

        <div class = "cards card-item">
            <div class="card-info">
                <form  class="card-info" name="form" action="/" method="post"> 
                name            : <input id="name" name="name" type="text" placeholder="enter a name.." />
                characteristics : <input id="characteristics" name="characteristics" type="text" placeholder="enter characteristics.." />
                image           : <input id="photo" name="photo" type="text" placeholder="enter photo's path.." />
                                <input type="submit" id="addToJsonButton" value="Submit">
                </form>
            </div>
        </div>   

        <% for (var i = 0; i < result.length; i++) { %>
            <div class = "cards">
                <div class = "card-item">
                    <img class = "card-image" src= ".<%= result[i].photo %>" >
                    <div class = "card-info">
                        <h2 class = "card-title"><%= result[i].name %></h2>
                        <p class = "card-intro"><%= result[i].characteristics %></p>
                    </div>                  
                </div>
            </div>
        <% } %>

    </div>
</body>
</html>